body {
	background-color: white;
}

h1 {
	color: navy;
	text-align: center;
}

h2 {
	color: navy;
	text-align: center;
}
h3 {
	color: green;
}

table, th, td {
  border: 1px solid black;
}

th.home, th.books, th.about, th.projects {
	width: 25%;
}
a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
