body {
	background-color: white;
}

h1 {
	color: navy;
	text-align: center;
}

h2 {
	color: navy;
	text-align: center;
}
h3 {
	color: green;
}

table, th, td {
  border: 1px solid black;
}

th.home, th.books, th.about, th.projects {
	width: 25%;
	color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

.icons{
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #808080;
  color: white;
	text-align: center;
}
.fa-github {
  background: #000000;
  color: white;
	text-align: center;
}


