body {
	background-color: white;
}

h1 {
	color: navy;
}

h2 {
	color: navy;
}	
h3 {
	color: green;
}

table, th, td {
  border: 1px solid black;
}

th.home, th.books, th.about, th.projects {
	width: 25%;
}

/* Header Table*/
.headers a:link, .headers a:visited, .headers a:hover, .headers a:active
{
    color: blue;   
}

a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}