body {
	background-color: white;
}

h1 {
	color: gold;
}

h2 {
	color: navy;
}	
h3 {
	color: green;
}

table, th, td {
  border: 1px solid black;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}